# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Output/Client.pdb
Output/Engine.idb
Output/Engine.pdb
Engine/x64/Debug/Engine.lib.recipe
Engine/x64/Debug/Engine.log
Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
Engine/x64/Debug/Engine.tlog/Engine.lastbuildstate
Engine/x64/Debug/Engine.tlog/Lib-link.read.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib.command.1.tlog
Engine/x64/Debug/Engine.vcxproj.FileListAbsolute.txt
Client/x64/Debug/Client.exe.recipe
Client/x64/Debug/Client.ilk
Client/x64/Debug/Client.log
Client/x64/Debug/Client.res
Client/x64/Debug/Client.tlog/CL.command.1.tlog
Client/x64/Debug/Client.tlog/CL.read.1.tlog
Client/x64/Debug/Client.tlog/CL.write.1.tlog
Client/x64/Debug/Client.tlog/Client.lastbuildstate
Client/x64/Debug/Client.tlog/link.command.1.tlog
Client/x64/Debug/Client.tlog/link.read.1.tlog
Client/x64/Debug/Client.tlog/link.write.1.tlog
Client/x64/Debug/Client.tlog/rc.command.1.tlog
Client/x64/Debug/Client.tlog/rc.read.1.tlog
Client/x64/Debug/Client.tlog/rc.write.1.tlog
Client/x64/Debug/Client.vcxproj.FileListAbsolute.txt
Client/x64/Debug/vc143.idb
Client/x64/Debug/vc143.pdb
.vs/Game/FileContentIndex/a1285a14-b85c-4ffa-b9e1-0845dfaf95b5.vsidx
.vs/Game/FileContentIndex/read.lock
.vs/Game/v17/.suo
.vs/Game/v17/Browse.VC.db
.vs/Game/v17/Browse.VC.db-shm
.vs/Game/v17/Browse.VC.db-wal
.vs/Game/v17/Browse.VC.opendb
.vs/Game/v17/ipch/5048f06878425caa.ipch
.vs/Game/v17/ipch/bc40888e8ca0d84b.ipch
.vs/Game/v17/Solution.VC.db
.vs/Game/v17/Solution.VC.db-shm
.vs/Game/v17/Solution.VC.db-wal
Client/Client.vcxproj
.vs/Game/FileContentIndex/90adfb6e-b2e1-4c0c-9c4a-2024e058902a.vsidx
.vs/Game/FileContentIndex/373d7e92-71e1-4b2a-a074-a1b93309d4e2.vsidx
Client/Client.vcxproj
Client/Client.vcxproj
Engine/Engine.vcxproj.filters
