# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Output/Client.pdb
Output/Engine.idb
Output/Engine.pdb
Engine/x64/Debug/Engine.lib.recipe
Engine/x64/Debug/Engine.log
Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
Engine/x64/Debug/Engine.tlog/Engine.lastbuildstate
Engine/x64/Debug/Engine.tlog/Lib-link.read.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib.command.1.tlog
Engine/x64/Debug/Engine.vcxproj.FileListAbsolute.txt
Client/x64/Debug/Client.exe.recipe
Client/x64/Debug/Client.ilk
Client/x64/Debug/Client.log
Client/x64/Debug/Client.res
Client/x64/Debug/Client.tlog/CL.command.1.tlog
Client/x64/Debug/Client.tlog/CL.read.1.tlog
Client/x64/Debug/Client.tlog/CL.write.1.tlog
Client/x64/Debug/Client.tlog/Client.lastbuildstate
Client/x64/Debug/Client.tlog/link.command.1.tlog
Client/x64/Debug/Client.tlog/link.read.1.tlog
Client/x64/Debug/Client.tlog/link.write.1.tlog
Client/x64/Debug/Client.tlog/rc.command.1.tlog
Client/x64/Debug/Client.tlog/rc.read.1.tlog
Client/x64/Debug/Client.tlog/rc.write.1.tlog
Client/x64/Debug/Client.vcxproj.FileListAbsolute.txt
Client/x64/Debug/vc143.idb
Client/x64/Debug/vc143.pdb
