# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Output/Client.pdb
Output/Engine.idb
Output/Engine.pdb
Engine/x64/Debug/Engine.lib.recipe
Engine/x64/Debug/Engine.log
Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
Engine/x64/Debug/Engine.tlog/Engine.lastbuildstate
Engine/x64/Debug/Engine.tlog/Lib-link.read.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib.command.1.tlog
Engine/x64/Debug/Engine.vcxproj.FileListAbsolute.txt
Client/x64/Debug/Client.exe.recipe
Client/x64/Debug/Client.ilk
Client/x64/Debug/Client.log
Client/x64/Debug/Client.res
Client/x64/Debug/Client.tlog/CL.command.1.tlog
Client/x64/Debug/Client.tlog/CL.read.1.tlog
Client/x64/Debug/Client.tlog/CL.write.1.tlog
Client/x64/Debug/Client.tlog/Client.lastbuildstate
Client/x64/Debug/Client.tlog/link.command.1.tlog
Client/x64/Debug/Client.tlog/link.read.1.tlog
Client/x64/Debug/Client.tlog/link.write.1.tlog
Client/x64/Debug/Client.tlog/rc.command.1.tlog
Client/x64/Debug/Client.tlog/rc.read.1.tlog
Client/x64/Debug/Client.tlog/rc.write.1.tlog
Client/x64/Debug/Client.vcxproj.FileListAbsolute.txt
Client/x64/Debug/vc143.idb
Client/x64/Debug/vc143.pdb
.vs/Game/FileContentIndex/a1285a14-b85c-4ffa-b9e1-0845dfaf95b5.vsidx
.vs/Game/FileContentIndex/read.lock
.vs/Game/v17/.suo
.vs/Game/v17/Browse.VC.db
.vs/Game/v17/Browse.VC.db-shm
.vs/Game/v17/Browse.VC.db-wal
.vs/Game/v17/Browse.VC.opendb
.vs/Game/v17/ipch/5048f06878425caa.ipch
.vs/Game/v17/ipch/bc40888e8ca0d84b.ipch
.vs/Game/v17/Solution.VC.db
.vs/Game/v17/Solution.VC.db-shm
.vs/Game/v17/Solution.VC.db-wal
Client/Client.vcxproj
.vs/Game/FileContentIndex/90adfb6e-b2e1-4c0c-9c4a-2024e058902a.vsidx
.vs/Game/FileContentIndex/373d7e92-71e1-4b2a-a074-a1b93309d4e2.vsidx
Client/Client.vcxproj
Client/Client.vcxproj
Engine/Engine.vcxproj.filters
Engine/x64/Debug/Engine.Build.CppClean.log
Engine/Engine.vcxproj.filters
Engine/Engine.vcxproj
.vs/Game/FileContentIndex/af40920b-a52e-4f7a-b9ef-2ce8b51a9de2.vsidx
.vs/Game/FileContentIndex/77eb2b5b-9c21-4078-87c4-1865b53560b6.vsidx
.vs/Game/FileContentIndex/504c02c1-244c-4135-ab61-9680744045e2.vsidx
Engine/Engine.vcxproj.filters
Engine/Engine.vcxproj
Engine/x64/Debug/Engine.Build.CppClean.log
.vs/Game/FileContentIndex/47248cd2-01d9-457f-be2a-95cc432c76d4.vsidx
.vs/Game/FileContentIndex/545e6ce3-f80e-4873-bc66-1a240a034689.vsidx
.vs/Game/FileContentIndex/9e6a6315-2d37-476e-97f4-898069f4d06c.vsidx
.vs/Game/FileContentIndex/aa09464c-49c2-4163-892e-c9e904d733b9.vsidx
Client/x64/Debug/Client.Build.CppClean.log
Engine/Engine.vcxproj
Engine/Engine.vcxproj.filters
Engine/x64/Debug/Engine.Build.CppClean.log
Engine/x64/Debug/Engine.Build.CppClean.log
Client/x64/Debug/Client.Build.CppClean.log
Engine/Engine.vcxproj.filters
Engine/Engine.vcxproj
Engine/Engine.vcxproj.filters
.vs/Game/FileContentIndex/df78895e-d56b-4834-9275-602098ae6179.vsidx
.vs/Game/FileContentIndex/beb67d35-f3bf-4971-b610-15b4cc8096ed.vsidx
.vs/Game/FileContentIndex/220737bf-02b8-4528-a162-1e8c39f96597.vsidx
.vs/Game/FileContentIndex/06a48b5e-7c31-4f2f-9b31-a270effa6f2e.vsidx
.vs/Game/FileContentIndex/9f8c3cbf-195c-4cfd-ab76-dee405f43d1d.vsidx
.vs/Game/FileContentIndex/bc87b762-70a8-4df1-ad8c-04872db4d0dc.vsidx
.vs/Game/FileContentIndex/fe5ef158-1233-4ae0-a698-bd04ac9e88d4.vsidx
